/*
 Github: https://github.com/chill31/popifyJS/README.md
 Source Code [SRC / Styles]
*/

.popify-main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(170, 170, 170, 0.75);
  height: 100%;
  width: 100%;
}

.popify-main.overlay-none {
  background-color: transparent;
}

/* large size */
.popify-app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 80vh;
  width: 90vw;
  overflow: hidden;
}

/* short size */
.popify-main.short .popify-app {
  min-height: 18rem;
  height: 20rem;
  max-height: 95vh;
  width: 25rem;
  max-width: 95vw !important;
  overflow: scroll;
}

.popify-main.short.icon-visible .popify-app {
  height: 25rem;
  width: 30rem;
}

.popify-close {
  height: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.popify-icon {
  font-size: 6.5rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.popify-header {
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  color: black;
  min-width: max-content;
}

.popify-main.icon-visible .popify-header {
  top: 8.5rem;
}

.popify-subtext {
  font-size: 1.1rem;
  color: #555;
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.popify-main.icon-visible .popify-subtext {
  top: 11rem;
}

.popify-btn-group {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  background-color: white;
  padding: .25rem;
}

.popify-btn {
  background-color: rgb(218, 218, 218);
  color: black;
  padding: .5em 1.25em;
  border: none;
  cursor: pointer;
  border-radius: .2rem;
  font-size: 1.1rem;
  transition: background-color 250ms ease;
  min-width: max-content;
  text-align: center;
}

.popify-btn:where(:hover, :focus) {
  background-color: rgb(230, 230, 230);
  outline: none;
}

.popify-btn.info {
  background-color: #85d6ed;
}

.popify-btn.info:where(:hover, :focus) {
  background-color: #5cdcff;
}

.popify-btn.success {
  background-color: rgb(83, 216, 83);
}

.popify-btn.success:where(:hover, :focus) {
  background-color: rgb(123, 232, 123);
}

.popify-btn.error {
  background-color: rgb(198, 41, 41);
  color: white;
}

.popify-btn.error:where(:hover, :focus) {
  background-color: rgb(238, 57, 57);
}

.popify-btn.warning {
  background-color: rgb(222, 192, 101);
}

.popify-btn.warning:where(:hover, :focus) {
  background-color: rgb(227, 180, 37);
}

.popify-icon.icon-error::before {
  color: rgb(223, 82, 82);
}

.popify-icon.icon-success::before {
  color: rgb(119, 218, 119);
}

.popify-icon.icon-warning::before {
  color: #ffc000;
}

.popify-icon.icon-info::before {
  color: #0bcaff;
}

.popify-icon.icon-question::before {
  color: rgb(64, 85, 95);
}